<h2>Create a New Celeb </h2>

<form action="/celebrities/create-new-celeb" method="POST">

  <label>Name</label>
  <input name="name" type="text">

  <label>Occupation</label>
  <input name="occupation" type="text">

  <label>Catch Phrase</label>
  <input name="catchPhrase" type="text">

  <button> Save </button>

</form>