<h2>Celebrity Heading</h2>
    <div>
      <p>Name : {{theCeleb.name}}</p>
      <p>Occupation : {{theCeleb.occupation}}</p>
      <p>Catch Phrase : {{theCeleb.catchPhrase}}</p>

      <button class="btn">
        <a href="/celebrities/edit/{{theCeleb._id}}">Edit Celeb Info</a>
      </button>

      <a href="/celebrities"> Back to Main Menu </a>
    </div>

