<h2>Create a New Movie </h2>

<form action="/movies/create-new-movie" method="POST">

  <label>Title</label>
  <input name="title" type="text">

  <label>Genre</label>
  <input name="genre" type="text">

  <label>Plot</label>
  <input name="plot" type="text">

  <button> Save </button>

</form>