<h2>Movie Heading</h2>
    <div>
      <p>Title : {{theMovie.title}}</p>
      <p>Genre : {{theMovie.genre}}</p>
      <p>Plot : {{theMovie.plot}}</p>

      <button class="btn">
        <a href="/movies/edit/{{theMovie._id}}">Edit Movie Info</a>
      </button>

      <a href="/movies"> Back to Main Menu </a>
    </div>

