<h1>{{title}}</h1>
<p>Welcome to the homepage</p>

  <a href="/signup">Signup</a>
  <p></p>
  <a href="/login">Login</a>
  <p></p>
  <a href="/profile">Profile</a>
  <p></p>

  <a href="/celebrities"> View Celebrities </a>
  <p></p>
  <a href="/movies"> View Movies </a>
  <p></p>